h2 {
    font-family: "New Amsterdam", sans-serif;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
}

/* Testimonials Section */
.testimonials {
    background-color: #243B53;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Testimonials card style */
.testimonials .card {
    background-color: #3E4C59; /* Darker shade for cards */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Card text and author */
.testimonials p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.testimonials h4 {
    font-weight: normal;
    font-style: italic;
    color: #D9E2EC;
}

/* Additional hover effect for cards */
.testimonials .card:hover {
    background-color: #52606D; /* Slightly lighter on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}