{% extends "base.html" %}

{% block title %}Home - U.S. Economy Trend{% endblock %}
<head>
    <title>U.S. Economy</title>
</head>
<header>
    <nav>
        <h1>U.S. Economy Trend</h1>
        <a href="index.html"><button>Profile</button></a>
        <a href="economy.html"><button>U.S. Economy</button></a>
        <a href="jobs.html"><button>Professions Trend</button></a>
        <a href="chat.html"><button>Economic Assistant</button></a>
    </nav>
</header>
<body>
    
</body>

{% block content %}